<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.sensiblesolutions.androidsupportv4"
    version="0.0.1">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>Android Support v4</name>
  
  <description>Cordova plugin that adds the Android Support v4 client library. It is meant to be depended on by other plugins.</description>
  <author>Sensible Solutions</author>
  <keywords>android support v4 library</keywords>
  <license>No license</license>

  <platform name="android">
    <source-file src="android-support-v4.jar" target-dir="libs" />
  </platform>
</plugin>
